<!-- hero image start -->
<header id = "header" style = "padding-top: 104px;">
    <div class = "container h-100 d-flex align-items-center carousel-inner">
        <div class = "text-center carousel-item active">
            <h5 class = "text-capitalize text-white">Get IN TOUCH </h5>
            <h1 class = "text-uppercase py-2 fw-bold text-white">Contact </h1>
       
        </div>
    </div>
</header>
<!-- hero image end -->

<!-- limited company & PAYE Umbrella-- start -->
<div class="container  sec-div my-5">
    <div class="row  facts">
        <div class="col-md-5   p-5 text-center LC">
           <h2 ><span class="fonts p-5"><i class="fa fa-male" aria-hidden="true"></i></span></h2>
            <h2>Limited Company</h2> 
           <br>
           <p class="text-center">For many contractors, contracting through a limited company represents one of the most tax-efficient methods to be paid. Setting up your own limited company may be the most efficient way for you to work, whether you're just starting out as a contractor or freelancer or have been working for a while under an umbrella corporation. A limited firm can be formed in a variety of ways, but employing a professional contractor accountant can help you avoid some of the administrative problems and paperwork that come with running one. Learn about limited companies and why they may be the ideal contractor payroll solution for you.</p>
        </div>
        <div class="offset-md-1 col-md-5 p-5 PAYE text-center mt-4-sm PU">
            <h2><span class="fonts "><i class="bi bi-umbrella"></i></span></h2> 
            <h2>PAYE Umbrella</h2> 
           <br>
           <p class="text-center">Using an umbrella corporation is the simplest way to get paid. It's simple to sign up for an umbrella company, and once you do, you're an employee of the umbrella company. With this payroll option, there is no need to establish up your own firm or deal with any administrative responsibilities other than submitting timesheets. Your umbrella payroll provider will manage all taxes, including income tax and national insurance. When you select this option, you will not be subject to IR35 restrictions. Umbrella enterprises, on the other hand, are not the most tax-efficient, and if you have the option of contracting through a limited company, you may be able to increase your net pay.</p>
        </div>
    </div>
</div>
<!-- limited company & PAYE Umbrella-- end -->


<!-- Umbrella Company vs. Limited Company: Pros and Cons Summary start -->
    <div class="container my-5">
<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="">Umbrella Company vs. Limited Company: Pros and Cons Summary</h2>

    </div>
</div>        
        <div class="row my-5 text-center">
            <div class="col-md-4 ">
                <h3 >Tax Efficiency</h3>
            </div>
            <div class="col-md-4 text-center">
                <h3>LIMITED</h3>
                <p>The most tax-efficient method of contracting. The majority of directors work for a low income. Dividends are not subject to National Insurance, and other tax planning alternatives are available.</p>
            </div>
            <div class="col-md-4 text-center">
                <h3>Umrella</h3>
                <p>PAYE taxes your entire salary. Working through a limited business is less tax efficient.</p>
            </div>
        </div>
        <hr class="hrcolor">
        <div class="row my-5 text-center">
            <div class="col-md-4 ">
                <h3>Ease of set up and use</h3>
            </div>
            <div class="col-md-4 text-center">
                
                <p>Company incorporation can be accomplished in a few hours, but tax registration (VAT, Corporation Tax) can take several weeks. Monthly accounting administration is essential, as are some annual requirements as a company director.</p>
            </div>
            <div class="col-md-4 text-center">
                
                <p>Instant setup, minimal administration, and no legal obligations.</p>
            </div>
        </div>
         <hr class="hrcolor">
        <div class="row my-5 text-center">
            <div class="col-md-4 ">
                <h3>IR35 Consideration</h3>
            </div>
            <div class="col-md-4 text-center">
                
                <p>Excellent if you intend to serve several clients. The possibility of being blanketed. If caught, the majority of the tax benefits of being limited are forfeited.</p>
            </div>
            <div class="col-md-4 text-center">
                
                <p>Because you are already taxed as a 'employee,' IR35 is irrelevant. Not great if you intend to work for multiple clients concurrently.</p>
            </div>
        </div>
         <hr class="hrcolor">
        <div class="row my-5 text-center">
            <div class="col-md-4 ">
                <h3>Duration</h3>
            </div>
            <div class="col-md-4 text-center">
                
                <p>Due of the administrative work required to set up and then shut the company, it is not suitable for short-term contracts.</p>
            </div>
            <div class="col-md-4 text-center">
                
                <p>Excellent for short-term contracts.</p>
            </div>
        </div>
         <hr class="hrcolor">
        <div class="row my-5 text-center">
            <div class="col-md-4 ">
                <h3>Low earning contracts</h3>
            </div>
            <div class="col-md-4 text-center">
              
                <p>Contracts paying less than £15-20/hour are usually not suggested.</p>
            </div>
            <div class="col-md-4 text-center">
               
                <p>Excellent for lower-paying contracts.</p>
            </div>
        </div>
        
        
    </div>
<!-- Umbrella Company vs. Limited Company: Pros and Cons Summary end -->

<!-- Register your interest now recieve a free consultation start -->

<div class="container-fluid my-5 interest ">
    <div class="container ">
        <div class="row interest-div justify-content-center align-items-center">
            <div class="col-md-12">
                <h1 class="text-center">Register your interest now  </h1>
                <h1 class="text-center ">recieve a free consultation</h1>
            <p class="text-center">Click here to Register or you can contact us</p>
           <div class="row text-center">
       <div class="col-md-12">
    <button class="btn  rounded-pill text-center px-5 py-3">020 8609 8488</button>
    <button [routerLink]="['/contact']" class="btn  rounded-pill  text-center mx-2 px-5 py-3">REGISTER INTEREST</button>

         </div>
           </div>


            </div>
        </div>
       
    </div>
    </div>


<!-- Register your interest now recieve a free consultation end -->

<!-- paragraph start-->
<div class="container ">
    <div class="row p-5 m-5">
        <div class="col-md-12 col-col-12">
            <p class="text-left">
                When selecting a payroll service, many first-time contractors want to know how much money they may take home. If you work for a limited company rather than an umbrella company, use our take home pay calculator to determine how much money you'll get at the end of the week or month. We are delighted to have assisted over a thousand clients thus far, so you can be confident that you are in excellent hands, as our priorities have always been customer service and compliance. When you speak with our experts, you will receive professional and personalised advice to help you get started with contracting on the right foot. 
    
                Our first-time contractor services include:
              
            </p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    Free consultation to go through your condition and needs.
                    
                
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Outline the best payroll option for you.
                    
                    
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    Explaining the basics of IR35 legislation and how it affects contractors.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    Complete administrative assistance.
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    Limitless tax guidance.
                    
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    A dedicated team is available to answer your questions.
                    
                    
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    There are no minimum service terms. 
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    24/7 access to a safe, mobile-friendly gateway.
                     
                </li>
            </ul>
        </div>
        
        <!-- <p class="my-4">
            To determine how much income you can take home at the end of the week or month using a limited company versus an umbrella company, use our take home <b>pay calculator</b>.
        </p> -->
    </div>
</div>


<!-- paragraph end-->

<!-- calculator start -->
<!-- <div class="container-fluid calc">
    <div class="row d-flex justify-content-center  ">
        <div class="col-md-8 p-4 bg-white mt-5 mb-5">
            <h3 class="py-3">Income Tax Calculator</h3>
            <h5 class="mt-3"><span class="headingcolor">Enter your salary and find out how much income tax and National Insurance you'll pay in the chosen tax year.</span></h5>
            <div class="mb-3 mt-4 py-4">
                <label for="" class="form-label">Tax Year</label>
                <select class="form-select form-select-lg" name="" id="">
                    <option selected>2022-2023</option>
                    <option value="">2023-2024</option>
                </select>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Enter Your Salary</label>
              <input type="email" class="rounded-pill form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
            </div>
            <div class="p-2">
            <button class="mt-5 px-4 py-3 rounded-pill btn calcbtn">Calculate  </button>
        
            </div>
        </div>
    </div>
</div> -->


<!-- calculator end -->

<!-- choices -->
<!-- <section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center ">
                <h2 class="display-6 fw-bold choices-h2 ">The right choice for you </h2>
              <p class="mt-4">Here is an example of the some of the industries in which we can help working professionals. However we are not limited to these sectors. feel free to get in touch with us and see how we can help.</p>
            </div>
        </div> 
        <div class="row mt-5">
            <div class="col-md-4 py-5 ">
                <h1 ><i class= "approach-h2 bi bi-cone-striped"></i><span class="ms-4">Construction</span></h1>
            </div>
            <div class="col-md-4 py-5">
                <h1 ><i class= "approach-h2 bi bi-heart-pulse"></i><span class="ms-4">Construction</span></h1>
            </div>
            <div class="col-md-4 py-5">
                <h1 ><i class="approach-h2 bi bi-gear"></i><span class="ms-4">Construction</span></h1>
            </div>  
        </div>
        <div class="row  ">
            <div class="col-md-4 py-5">
                <h1 ><i class="bi bi-truck-front approach-h2"></i><span class="ms-4">Transport  </span></h1>
            </div>
            <div class="col-md-4 py-5">
                <h1 ><i class= "approach-h2 bi bi-heart-pulse"></i><span class="ms-4">Project</span></h1>
            </div>
            <div class="col-md-4 py-5">
                <h1 ><i class="approach-h2 bi bi-envelope-paper"></i><span class="ms-4">Finance legal</span></h1>
            </div>  
        </div>
        
        
    </div>
</section> -->
  <!-- choices -->