
<div class="container mt-5 py-5">
    <h4 class="text-center h-color">Modern Slavery</h4>
    <p>This statement is made pursuant to s.54 of the Modern Slavery Act 2015 and sets out the steps that Sweet Umbrella Ltd has taken and is continuing to take to ensure that modern slavery or human trafficking is not taking place within our business or supply chain.
    </p>
    <p>
        Modern slavery encompasses slavery, servitude, human trafficking and forced labour. Sweet Umbrella Ltd has a zero-tolerance approach to any form of modern slavery. We are committed to acting ethically and with integrity and transparency in all business dealings and to putting effective systems and controls in place to safeguard against any form of modern slavery taking place within the business or our supply chain.
    </p>

    <h5 class="fw-bold">Our business</h5>
    <p>
 Sweet Umbrella’s payroll processes and contract documentation have been audited by industry experts and T advisors. With an in-house team of qualified accountants and tax experts, we are confident enough to contractually take on all compliance liability for CIS, IR35, AWR, MSC legislation, and general employer responsibilities.
    </p>

    <h5 class="fw-bold">Areas of risk</h5>
    <p>
        
Workers would be at risk if they were paid at less than National Minimum Wage and/or were without acceptable right to work documentation. Sweet Umbrella Ltd has specific procedures to prevent this.
    </p>

    <h5 class="fw-bold"> Our policies</h5>
    <p>
       
We operate a number of internal policies to ensure that we are conducting business in an ethical and transparent manner. <br> These include:
    </p>

    <p>
        1.  Recruitment policy: we operate a robust recruitment policy, including conducting eligibility to work in the UK checks for all employees to safeguard against human trafficking or individuals being forced to work against their will.
    </p>
    <p>
        2.  Whistleblowing policy: we operate a whistleblowing policy so that all employees know that they can raise concerns about how colleagues are being treated, or practices within our business or supply chain, without fear of reprisals.
    </p>
    <p>
        3. Code of business conduct: this code explains the manner in which we behave as an organisation and how we expect our employees and suppliers to act.
    </p>

    <h5 class="fw-bold"> Our suppliers</h5>
    <p>
    
Sweet Umbrella operates a supplier policy and maintains a preferred supplier list. We conduct due diligence on all suppliers before allowing them to become a preferred suppliers. This due diligence includes an online search to ensure that a particular organisation has never been convicted of offences relating to modern slavery.
    </p>
    <p>In addition to the above, as part of our contract with suppliers, we require that they confirm to us that:</p>
    <p>1. They hold their own suppliers to account over modern slavery</p>
    <p>2. They pay their employees at least the national minimum wage / national living wage</p>
    <p>3. We may terminate the contract at any time should any instances of modern slavery come to light.</p>

    
    <h5 class="fw-bold">Training</h5>
    <p>
        We regularly conduct training for our procurement/buying teams so that they understand the signs of modern slavery and what to do if they suspect that it is taking place within our supply chain.
        </p>

<h5 class="fw-bold">Our performance indicators</h5>
        <p>    
We will know the effectiveness of the steps that we are taking to ensure that slavery and/or human trafficking is not taking place within our business or supply chain if:
·  No reports are received from employees, the public, or law enforcement agencies to indicate that modern slavery practices have been identified.
  </p>

  <h5 class="fw-bold">Approval for this statement</h5>
  <p>This statement was approved by the Board of Directors on 3/06/2022</p>
  <p>Umair Ali Shehzad</p>
  <h5 class="fw-bold ">Director</h5>
</div>