
*{
    font-family: Merriweather ;
}
.h-color{
    background: #000000;
background: linear-gradient(to right, #000000 0%, #FF7F04 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size:70px;
font-weight: bolder;

}