<div id="header-carousel" class="carousel slide carousel-fade " data-bs-ride="carousel" #top>
    <div class="carousel-inner nav-video">
        <div class="carousel-item active">
            <video src="../../../../assets/people-video.mp4 "  loop autoplay [muted]="true"></video>
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <!-- <h5 class="text-white text-uppercase mb-3 animated slideInDown">Creative & Innovative</h5> -->
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">Payroll Solutions that keep Business moving</h1>
                    <a class="btn btn-outline-light rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft" [routerLink]="['/paye']"
                        routerLinkActive="router-link-active">CONTRACTORS</a>
                    <a class="btn btn-outline-light rounded-pill py-md-3 px-md-5 animated slideInRight" [routerLink]="['/agency']"
                        routerLinkActive="router-link-active">AGENCIES</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Facts Start -->
<div class="container-fluid facts ms-auto py-5 pt-lg-0">
    <div class="container mx-auto py-5 pt-lg-0">
        <div class="row  gx-5 gy-3">
            <div class="col-lg-4 wow  rounded-start zoomIn">
                <div class=" shadow d-flex align-items-center rounded-start justify-content-center p-4 factscolor"
                    style="height: 150px;">
                    <div class=" d-flex align-items-center justify-content-center rounded mb-2"
                        style="width: 60px; height: 60px;">
                        <i class="fas fa-umbrella text-white display-5"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">PAYE Umbrella </h5>
                        <p class="text-white mb-0" >Discover Our Services</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn">
                <div class=" shadow d-flex align-items-center justify-content-center p-4 factscolor" style="height: 150px;">
                    <div class=" d-flex align-items-center justify-content-center rounded mb-2"
                        style="width: 60px; height: 60px;">
                        <i class="fas fa-handshake text-white display-5"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">Limited Company </h5>
                        <p class="text-white mb-0" >Discover Our Services</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn">
                <div class=" shadow d-flex align-items-center justify-content-center p-4 factscolor" style="height: 150px;">
                    <div class=" d-flex align-items-center justify-content-center rounded mb-2"
                        style="width: 60px; height: 60px;">
                        <i class="fas fa-coins text-white display-5"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">Agency Managment </h5>
                        <p class="text-white mb-0" >Discover Our Services</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Facts Start -->


<!-- about us  -->
<div class="container-fluid about">
<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <h5 class="my-5">ABOUT US </h5>
            <h3 class="my-5 about-heading fw-bold display-6">We offer payroll solutions to businesses and contractors.</h3>
            <p class="">Sweet Umbrella provides professional assistance and advice to organisations seeking to grow their manpower, while our umbrella solutions provide contractors with the extensibility and confidentiality of a full-time employee. Our customised method guarantees that you are paid on the same day, that your tax plans are managed skilfully, and, the more importantly, that you have no company role and responsibility, enabling you to enjoy your contracting and spare time.</p>

            <div class="row">
                <div class="col-md-5">
                    <h5 for="">Compelince </h5>
                    <div class="progress">
                        <div class="progress-bar w-100 factscolor" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100">100%</div>
                    </div>
                </div>
                <div class="offset-md-1 col-md-5">
                    <h5>Speed</h5>
                    <div class="progress">
                        <div class="progress-bar w-100 factscolor" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100">100%</div>
                    </div>
                </div>

                <div class="col-md-5 my-4">
                    <h5 for="">Informative </h5>
                    <div class="progress">
                        <div class="progress-bar w-100 factscolor" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100">100%</div>
                    </div>
                </div>
                <div class="offset-md-1 my-4 col-md-5">
                    <h5>Customer Support </h5>
                    <div class="progress">
                        <div class="progress-bar w-100 factscolor" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100">100%</div>
                    </div>
                </div>

            </div>
            <button [routerLink]="['/about']" class="btn btn1 rounded-pill text-white my-3 px-5 py-3" routerLink="/about" fragment="about-us">More About </button>
        </div>
        
    </div>
</div>
</div> 
<!-- about us end  -->

<!-- why work with us  -->
<div class="workWithUs container-fluid">
    <div class="container ">
        <div class="row">
            <div class=" mt-5 col-md-6">
                <img class="img-fluid" src="../../../../assets/home3.jpg"  alt="">
            </div>

            <div class="col-md-6 mt-5 ">
                <h5 class="text-white text-center">BENEFITS</h5>
                <h3 class="fw-bold display-6 text-center ">Why Join Our Team?</h3>
                <div class="row">
                    <div class="col-md-6 mt-5 text-center">
                        <p><i class="display-5 text-white bi bi-person-plus"></i> <span class=" ms-2  fw-bold fs-4">Flexibilty</span>
                            <br><span class=" text-white  ">Contracting allows you to work when and how you want.</span></p>
                    </div>
                    <div class="col-md-6 mt-5 text-center">
                        <p><i class=" display-5 text-white bi bi-pie-chart"></i> <span class="ms-2  fw-bold fs-4">Hassle Free Tax</span>
                            <br><span class="text-white  text-center">There is nothing to worry about as everything we do compliance under UK laws and regulations </span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center mt-5">
                        <p><i class=" display-5 text-white bi bi-shield-plus"></i> <span class="mx-1  fw-bold fs-4">Full Protection</span>
                            <br><span class="text-white  text-center">Umbrella services provides you with the security of a full-time employee.</span></p>
                    </div>
                    <div class="col-md-6 text-center mt-5">
                        <p><i class=" text-center display-5 text-white bi bi-credit-card-2-back"></i>
                             <span class="  ms-2 fw-bold fs-4 text-start">Quick Payments</span> 
                                <br>
                                <span class="text-white mx-4">Get paid weekly and in a way that works for you.</span></p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div> 
<!-- work with us  -->

<!-- services  -->
 <section> 
 <div class="container">
    <div class="row mt-5 py-5">
        <div class="col-md-6">
            <img class="img-fluid" src="../../../../assets/Customer-chart.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h5 class="service text-center ">Our Services</h5>
            <h3 class="fw-bold display-6">Make the most of your money.</h3>
            <p class="service-p">Sweet Umbrella Ltd offer expert assistance and advice to help the company grow, and we are here to support you as you broaden, no matter what hurdles arise.
                </p>
                <p class="service-p">
                Our umbrella company solution allows you to sign an agreement while ensuring employee security. Our customised approach guarantees that you are paid within the same day, that your tax liabilities are encountered properly, and, most importantly, that you are free of company duties, allowing you to concentrate on contracts and spare time.</p>
            <button class="btn btn1 rounded-pill text-white my-3 px-5 py-3" routerLink="/contact" fragment="form" >Request Call </button>

        </div>
    </div>
</div> 

</section> 
<!-- services  -->


<div class="container my-5 py-4 text-center">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid w-50 h-50" src="../../../../assets/umbrella-icon.png" alt="">
            <h5>PAYE Umbrella</h5>
            <p>All contractors should utilize an umbrella company, such as Sweet Umbrella, because it is a more convenient way of working as well as guarantees that you are protected by professional indemnity, public liability, and employer's liability insurance.</p>
            <!-- <button class="btn learnMore text-white px-5 rounded-3 " >Learn More</button> -->
        </div>

        <div class="col-md-4">
            <img class="img-fluid w-50 h-50" src="../../../../assets/Handshake.png" alt="">
            <h5>AGENCIES</h5>
            <p>
                Making sure that you pay your employees on schedule and in a timely basis will enable you to expand as an agency. We collaborate with you and your contractors to ensure that everyone is paid timely and in accordance with the law.
            </p>
            <!-- <button class="btn learnMore text-white px-5 rounded-3 my-4" (click)="scroll(top)">Learn More</button> -->
        </div>


        <div class="col-md-4">
            <img class="img-fluid w-50 h-50" src="../../../../assets/Ltd-icon.png" alt="">
            <h5>LIMITED COMPANY</h5>
            <p>You may be looking for ways to enhance your work-life balance if you run a small business. You can rely on Sweet Umbrella instead of devoting your free time to payroll and documentation. We are here to help your company's payroll run as smoothly as possible.</p>
            <!-- <button class="btn learnMore text-white px-5 rounded-3 " (click)="scroll(top)">Learn More</button> -->
        </div>
    </div>
</div> 

<!-- faq  -->
 <section class="faq">
    <div class="container my-5 py-5">
        <div class="row py-5">
            <h1 class="faq-h5 text-center">FAQ</h1>
            <h3 class="fw-bold faq-h3 display-6">General Questions</h3>
            <p class="faq-p mt-4 fs-3">Frequently Asked Questions to help you  make your decision towards hassle free
                payroll.</p>


            <section id="info-utile" class="bg-white py-5">
                <div class="container">
                    <h3 class="text-center text-uppercase mb-5 lead-h-text ">Clear Your Mind About us </h3>

                  <div class="row">
                    <div class="col-md-6">
                        <div class="accordion" id="accordionExample">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What is an Umbrella Company?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        An Umbrella Company is a business that hires contractors on a temporary basis for a recruitment firm. It is typically the preferred option for first-time contractors or those who do not wish to bear the burdens of having their own business.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        What is IR35?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>HMRC introduced IR35, or "Intermediaries Legislation," in 2000 as tax legislation specifically designed to combat tax avoidance by workers supplying services to clients through an intermediary, such as a limited company, and used to assess whether a contractor is a genuine contractor rather than a "disguised" employee for the purposes of paying tax.</p>
                                        <p>
                                        Genuine contractors, freelancers, or consultants have nothing to fear from IR35 regulations and are free to take use of the benefits of using an intermediary firm. Employees who work 'outside IR35' can get money in the form of dividends from their limited enterprises.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        How do I get started?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Contact us or fill out a registration form. We will gather your information, and once we have it, we will call you and explain the next steps.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="accordion" id="accordionExample">

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        What are the common tax codes?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                       <p> 
                                        <b>1257L</b>- This is the current basic tax code for this tax year; you have a total allowance of £12,570 between April 2021 and April 2022.</p>
                                        <p><b>0T</b> - Because you did not send a P45 or complete a P46 prior to your first payment, you do not have any tax allowances. It could also signify that HMRC has depleted or reduced your allowances to zero.</p>
                                        <p>
                                         <b>BR</b> - You have a second job/pension. Your entire income will be taxed at 20%. If you do not have a second employment or a pension, you should contact HMRC to make the necessary changes.</p>
                                         <p><b>D0 </b>
                                            - You hold a second job/pension and pay a higher tax rate. Your entire income will be taxed at 40%. If you do not have a second employment or a pension, you should contact HMRC to make the necessary changes.
                                        </p>
                                        <p><b>D1</b>
                                            - You have a second job/pension and pay additional taxes. Your entire income will be taxed at 45%. If you do not have a second employment or a pension, you should contact HMRC to make the necessary changes.
                                        </p>
                                        <p><b>NT</b>
                                             - You are not eligible for any tax breaks (0%).
                                        </p>
                                        <p> 
                                            <b>Emergency Codes</b>
                                            - Week 1 or Month 1 emergency codes evaluate each week or month separately and pay you an equal amount of tax-free wages each tax week or month. This means that your previous tax history for the tax year is not taken into account in your weekly or monthly tax calculation.
                                        </p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        What if i decide to leave my role?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                      <p>
                                        Contact us to notify us of the changes; once we have finalised this, we will issue a P45 to your new employer, indicating that your employment with us has terminated.
                                      </p>
                                    
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        I am a first time contractor, why should I use an umbrella company?
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Umbrella companies assist first-time contractors by handling payroll, tax deductions, and documentation so you don't have to, and ensuring you are paid on time frame each month.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>
            </section>
        </div>
    </div>
</section> 






<!-- form   -->
<div class="container">
    <section class="m-5">
        <div class="row">
            <div class="formCol-1 section-border col-md-6">
                <h5 class="mx-3 text-white mt-4">Conatact Us</h5>
                <p class="mt-3 mx-3 text-white">To start your journey towards hassle-free payroll, call to speak to a consultant or register to receive a callback.</p>
     <div class="d-flex justify-content-center">
        <button class="btn  bg-light btn-text rounded-pill"> <i class="bi bi-telephone-fill"></i>   0300 328423</button>
        <button class="btn  mx-2 bg-light btn-text rounded-pill" routerLink="/contact" fragment="form" ><i class="bi bi-calendar3"></i>    Register here </button>
     </div>
             <p class="mt-5 py-5 text-center text-white">If you have another query please feel free to fill in our contact form.</p>
            </div>
  
  <div class=" formCol-2 col-md-6">
    <div class="row">
        <div class="col-md-6 py-3">
            <div class="mb-3">
                <label for="" class="form-label">First Name </label>
                <input type="email" class="form-control rounded-pill "  name="" id="" aria-describedby="emailHelpId" placeholder="First Name">
              </div>
        </div>
        <div class="col-md-6 py-3">
            <div class="mb-3">
                <label for="" class="form-label">Last Name </label>
                <input type="email" class="form-control rounded-pill " name="" id="" aria-describedby="emailHelpId" placeholder="Last Name ">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="mb-3">
                <label for="" class="form-label">Email*</label>
                <input type="email" class="form-control rounded" name="" id="" aria-describedby="emailHelpId" placeholder="Email Address">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-2 col-md-12">
            <div class="mb-3">
                <label for="" class="form-label">Subject*</label>
                <input type="email" class="form-control rounded " name="" id="" aria-describedby="emailHelpId" placeholder="Subject">
              </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
      <div class="mb-3">
        <label for="" class="form-label">Message*</label>
        <textarea class="form-control rounded" name="" id="" rows="3"></textarea>
      </div>
        </div>
    </div>
  
    <button class="btn  my-3  text-white btn-submit">Submit Form </button>
    
  
  
  </div>
  
  
        </div>
    </section>
   </div>
<!-- form   -->

