  <!-- header -->
  <header id = "header" style = "padding-top: 104px;">
    <div class = "container h-100 d-flex align-items-center carousel-inner">
        <div class = "text-center carousel-item active">
            <h5 class = "text-capitalize text-white">Get IN TOUCH </h5>
            <h1 class = "text-uppercase py-2 fw-bold text-white">PAYE UMBRELLA </h1>
        </div>
    </div>
</header>
<!-- end of header -->


<!-- UMBRELLA solutions  -->

    <div class="container">
        <div class="row mt-5 py-5">
            <div class="col-md-5">
                <img class="img-fluid" src="../../../../assets/PAYE1.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h6 class="display-6" >UMBRELLA Solutions </h6>
                <h5 class="fw-bold display-4 solution-h4">Getting Paid as a Contractor</h5>
                <p class="mt-5 ">Working as a contractor under an umbrella firm is the simplest way to be paid. Signing up with an umbrella company is simple and quick, and once you join up, you become an employee of the company right away. Apart from submitting timesheets, you won't need to establish your own business or do any administrative work with this payroll solution. All of your tax obligations, including income tax and National Insurance, will be handled by your umbrella payroll provider. You will also not have to worry about IR35 laws because this choice excludes them.</p>
            </div>
        </div>
    </div>

<!-- UMBRELLA solutions  -->

<div>
    <div class="container">
        <div class="row  ">
            <div class="row">
                <div class="row text-center  ">
                    
                  <div class="we-offer-area text-center ">
                    
                    <div class="container">
                        <div class="row">
                         <h2 class="text-center display-6 fw-bold">How Does Umbrella Company Work</h2>
                            
                        </div>
                            <div class="row our-offer-items less-carousel my-5">
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-pen-fancy"></i>
                                        <h4>STEP1</h4>
                                        <p>
                                            The umbrella firm (as your 'employer') signs a contract with your recruitment agency once you have acquired a contract role.
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
              
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-dharmachakra"></i>
                                        <h4>STEP2</h4>
                                        <p>
                                            You will also sign an employment contract with the umbrella. 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
              
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-tasks"></i>
                                        <h4>STEP3</h4>
                                        <p>
                                            After completing a pre-agreed-upon time period, you complete a timesheet and have it signed by your management before sending it to both your recruitment agency and the umbrella firm. 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
              
                                <!-- Single Item -->
                                <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-tachometer-alt"></i>
                                        <h4>STEP 4</h4>
                                        <p>
                                            The umbrella company will bill the recruitment agency, which will then bill the end-client. 
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
              
                                <!-- Single Item -->
                                <div class="col-md-8 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-recycle"></i>
                                        <h4>STEP5</h4>
                                        <p>
                                            Once the umbrella company receives payment from the agency, it will process your payroll and pay you a salary after deducting employment taxes, the pre-agreed umbrella fee/margin, personal taxes, and pension contributions (if applicable).
                                            Other benefits of using an umbrella include same-day setup and the provision of some statutory benefits such as sick pay, holiday pay, and employment protection. This provides contractors with a quick and efficient way to get paid, as well as some job security. However, the most significant benefit of contracting through an umbrella, and one that explains their growing popularity, is that using one completely eliminates the risk posed by IR35.
                                        </p>
                                    </div>
                                </div>
                                <!-- End Single Item -->
              
                                <!-- Single Item -->
                                <!-- <div class="col-md-4 col-sm-6 equal-height">
                                    <div class="item">
                                        <i class="fas fa-headset"></i>
                                        <h4>24/7 Support</h4>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                        </p>
                                    </div>
                                </div> -->
                                <!-- End Single Item -->
                            </div>
                    </div>
                </div>
                </div>
              </div>
        </div>
    </div>
</div>



<!-- form  -->
<!-- <section class="form">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 p-4 bg-white">
                <h3 class="py-3">Income Tax Calculator</h3>
                <h5 class="mt-3">Enter your salary and find out how much income tax and National Insurance you'll pay in the chosen tax year.</h5>
                <div class="mb-3 mt-4 py-4">
                    <label for="" class="form-label">Tax Year</label>
                    <select class="form-select form-select-lg" name="" id="">
                        <option selected>2022-2023</option>
                        <option value="">2023-2024</option>
                    </select>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Enter Your Salary</label>
                  <input type="email" class="rounded-pill form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
                </div>
                <div class="p-2">
                <button class="mt-5 px-4 py-3 rounded-pill btn btn-primary">Calculate  </button>

                </div>
            </div>

            <div class="col-md-6 p-3">
                <div class="row">
                    <div class="col-md-6 py-3">
                        <div class="mb-3">
                            <label for="" class="form-label">First Name </label>
                            <input type="email" class="form-control rounded-pill "  name="" id="" aria-describedby="emailHelpId" placeholder="First Name">
                          </div>
                    </div>
                    <div class="col-md-6 py-3">
                        <div class="mb-3">
                            <label for="" class="form-label">Last Name </label>
                            <input type="email" class="form-control rounded-pill " name="" id="" aria-describedby="emailHelpId" placeholder="Last Name ">
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="mb-3">
                            <label for="" class="form-label">Email*</label>
                            <input type="email" class="form-control rounded" name="" id="" aria-describedby="emailHelpId" placeholder="Email Address">
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mt-2 col-md-12">
                        <div class="mb-3">
                            <label for="" class="form-label">Subject*</label>
                            <input type="email" class="form-control rounded " name="" id="" aria-describedby="emailHelpId" placeholder="Subject">
                          </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-12">
                  <div class="mb-3">
                    <label for="" class="form-label">Message*</label>
                    <textarea class="form-control rounded" name="" id="" rows="3"></textarea>
                  </div>
                    </div>
                </div>
             
                <button class="btn  mx-3 my-3 btn-primary text-white">Submit Form </button>
            
            </div>
        </div>
    </div>
</section> -->
<!-- form  -->

<!-- KNOW SOLUTIONS  -->

    <div class="container mt-5 pt-5">
        <div class="row">
          <div class="col-md-12 text-center">
            <h6 class="display-6 fw-bold solution-h6">Other Solutions </h6>
            <h3 class="fw-bold mt-3 display-5">Know your payement Options </h3>
            <p>Contractors are paid through two types of payroll structures: umbrella businesses and limited firms. Both have advantages and disadvantages, but depending on the conditions of the contractor, one will usually provide more benefits than the other. Changing regulations, as well as the length and value of a contractor's typical assignments, are just a few of the factors to consider when deciding between payroll models.</p>

          </div>
         </div>
    </div>

<!-- KNOW SOLUTIONS  -->

<!-- options -->
    <div class="my-5 container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3 class="fw-bold display-5">Discover your options</h3>
            </div>
            <div class="col-md-4">
                <div class="card last-card p-5">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Limited Company</h3>
                            <p class="mt-4">One of the most crucial considerations is selecting a trip operator or trekking agency. We will assist you.</p>
                            <button class="btn mt-4 px-4 py-3  readmore" routerLink="/terms">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card last-card p-5">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Request a Callback</h3>
                            <p class="mt-4">One of the most crucial considerations is selecting a trip operator or trekking agency. We will assist you.</p>
                            <button class="btn mt-4 px-4 py-3 readmore" routerLink="/contact" fragment="form">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
<!-- options -->