    <!-- header -->
    <header id = "header"  style = "padding-top: 104px;" #top>
        
        <div class = "container h-100 d-flex align-items-center carousel-inner">
           
            <div class = "text-center carousel-item active">
                
                <h5 class = "text-capitalize text-white">About US</h5>
                <h1 class = "text-uppercase py-2 fw-bold text-dark">Keeping Business through <br><span class="payrollcolor"> payroll </span>solutions </h1>
           
            </div>
        </div>
    </header>
    <!-- end of header -->


<!-- about us  -->
<div class="container">
    <div class="row">
        <div class="my-5 col-md-6">
            <h5 id="about-us">ABOUT US </h5>
            <h3 class="my-5 about-heading fw-bold display-6">We offer payroll solutions to businesses and contractors. </h3>
            <p>Sweet Umbrella provides professional assistance and advice to organisations seeking to grow their manpower, while our umbrella solutions provide contractors with the extensibility and confidentiality of a full-time employee. </p>
               <span class="text-secondary"><p> Our customised method guarantees that you are paid on the same day, that your tax plans are managed skilfully, and, the more importantly, that you have no company role and responsibility, enabling you to enjoy your contracting and spare time.</p></span>
              
            <div class="row">
                <div class="col-md-5">
                    <h5 for="">Compelince </h5>
                    <div class="progress">
                        <div class="progress-bar w-100 barscolor" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>
                <div class="offset-md-1 col-md-5">
                    <h5>Speed</h5>
                    <div class="progress">
                        <div class="progress-bar w-100 barscolor" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>

                <div class="col-md-5 my-4">
                    <h5 for="">Informative  </h5>
                    <div class="progress">
                        <div class="progress-bar w-100 barscolor" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>
                <div class="offset-md-1 my-4 col-md-5">
                    <h5>Customer Support </h5>
                    <div class="progress">
                        <div class="progress-bar w-100 barscolor" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                      </div>
                </div>

            </div>
            <button class="btn btn1  btnAbout rounded-pill text-white my-3 px-5 py-3" (click)="scroll(top)">More About  </button>
        </div> 


        <div class="col-md-6 my-5 text-center">
            <img class=" image" src="../../../../assets/logo.png" width="250" height="100px" alt="">
            <div class="my-5 mt-5">
                <div class="fulldarkYellow" style="height: 300px; width:200px; display: inline-block"></div>
                <div class="darkYellow" style="height: 300px; width:200px; display: inline-block"></div>
                <div class="lightYellow" style="height: 300px; width:200px; display: inline-block"></div>
            </div>
   


        
        </div>
    .
    </div>
<hr>

</div>
<!-- about us end  -->



<!-- our approach -->
<div class="container ">
    <div class="row">
      <h2 class="approach-h2 my-5 fw-bold display-6">Our Approach</h2>
      <div class="col-md-4 mt-2">
        <h6 class="approach-h6 ">STEP 1</h6>
        <h5 class="approach-h5 mt-3">REVIEW</h5>
        <p class="mt-3">Our team will look over your present incoming and payment structure.</p>
      </div>
      <div class="col-md-4  mt-2">
        <h6 class="approach-h6 ">STEP 2</h6>
        <h5 class="approach-h5 mt-3">CONSULT </h5>
        <p class="mt-3">We recommend a very well action plan, which will give you with full coverage.</p>
      </div>
      <div class="col-md-4 mt-2">
        <h6 class="approach-h6 ">STEP 3</h6>
        <h5 class="approach-h5 mt-3">IMPLEMENT</h5>
        <p class="mt-3">We will complete all of your paperwork and make all of your scheduled payments. Providing you with regular updates and payments.</p>
      </div>

    </div>
</div>
<!-- our approach end  -->


<!-- why should choose   -->
<div class="chooseContainer mt-5 text-center container-fluid">
    <div class="row ">
        <h5 class="chooseh5 mt-5 display-6">WHY YOU SHOULD CHOOSE SERVICES</h5>
        <div class="col-md-4">
         <h5 class="chooseh5 mt-4 py-3">SUPPORT</h5>
         <p class="text-white mt-4">We are dedicated to providing you with a comprehensive service that will support you even when you are not at work.</p>
        </div>
        <div class="col-md-4">
            <h5 class="chooseh5 mt-4 py-3">COMPLAINCE</h5>
            <p class="text-white mt-4">You will not be concerned about anything because we make certain that our services meet all industry standards.</p>
           </div>
           <div class="col-md-4">
            <h5 class="chooseh5 mt-4 py-3">EXPERTISE</h5>
            <p class="text-white mt-4" >We have been delivering professional and knowledgeable accounting and umbrella employment solutions for nearly 20 years.</p>
           </div>
    </div>
</div>
<!-- why should choose   -->


<!-- new to contracting  -->
<div class="container mt-5">
    <div class="row">
        <h3 class="contract-h6 fw-bold mt-5">NEW TO CONTRACTING </h3>
        <h2 class="mt-4 fw-bold display-5">Considering Self-Employment?</h2>
        <div class="mt-5 col-md-12">
            <img class="rounded-3 img-fluid" src="../../../../assets/about2.jpg" alt="">
            <p class="mt-4 contract-p">Contracting is a challenging and exciting new career path, but it can also be daunting. It has the potential to open up new prospects and revenue sources for you while also assisting you in expanding your industry knowledge and abilities.</p>
        </div>
        
        <div class="col-md-6">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p mx-3">Work Flexibly</a></span>
        </div>

        <div class="col-md-6 mt-4">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p mx-3">Be HAPPY</a></span>
        </div>
        <div class="col-md-6 ">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p mx-3 ">Be independent</a></span>
        </div>

        <div class="col-md-6 mt-4">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p  mx-3">Make the descions </a></span>
        </div>

        <div class="col-md-6 ">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class=" contract-p mx-3">Stay in control</a></span>
        </div>

        <div class="col-md-6 mt-4">
            <span class="contract-p"><i class="bi bi-check-circle"></i><a class="contract-p mx-3">Earn what you deserve</a></span>
        </div>

    </div>
<!-- <button class="px-3 py-3 my-3 text-white btn rounded-pill btn-discover">Discover Your options</button> -->
</div>
<!-- new to contracting end -->




<div class="contianer- text-center py-3">
    <div class="row  offset-md-3 row-bg justify-content-between">
        
<div class="col-md-3"> 
    <div class="card-body">
        <div class="card-image">
            <img  class="" height="200px" width="200px"  src="../../../../assets/Ltd-icon.png" alt="">
        </div>
        <div class="card-title">
            <h5 class="text-white">LIMITED COMPANY</h5>
        </div>
        <div class="card-text">
            <p class="text-white">We master in payroll so you don't have to. More time to do what you enjoy.</p>
        </div>
    </div>
</div>

<div class="ms-5 col-md-3">
    <div class="card-body">
        <div class="card-image">
            <img  class="" src="../../../../assets/Handshake.png"  height="200px" width="200px" alt="">
        </div>
        <div class="card-title">
            <h5 class="text-white">AGENCIES</h5>
        </div>
        <div class="card-text">
            <p class="text-white">With people power, we provide you the courage to expand your business.</p>
        </div>
    </div>
</div>



<div class="ms-5 col-md-3">
    <div class="card-body">
        <div class="card-image">
            <img  class="" src="../../../../assets/umbrella-icon.png" height="200px" width="200px"  alt="">
        </div>
        <div class="card-title">
            <h5 class="text-white">PAYE UMBRELLA</h5>
        </div>
        <div class="card-text">
            <p class="text-white">Contracting freedom and employment protection.</p>
        </div>
    </div>
</div>






    </div>
</div>





