/* header */
#header{
    background-image:linear-gradient(to bottom,  rgba(9, 30, 62, .7),  rgba(9, 30, 62, .7)), url(../../../../assets/about-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 875px;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}

.carousel-item .btn:hover{
    border-color: var(--pink)!important;
}
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}


.btn1{
    margin: -4px;
    background-color:#008DA9;
}
.btn:hover{
    background-color:  rgb(255, 87, 51); 
}
.btn2{
    background-color: black;
}


/* about us  */
.about-us{
    background-color: rgb(220,237,242);
}
.about-heading{
    line-height: inherit;
}
/* about us  */



/* apraoch  */
.approach-h6{
    border-bottom: 3px solid   rgb(233, 116, 81);
    height: 50px;
    width: 100px;
}
.approach-h2{
    color: rgb(233, 116, 81);
    
}
.approach-h5{
    color: rgb(233, 116, 81);

}
/* apraoch  */


/* choose start  */
.chooseContainer{
    background-color:  rgb(233, 116, 81);
}
.chooseh5{
    color:  white;
}


/* choose end */


/* contracting  */
.contract-h6{
    color:  rgb(233, 116, 81);
}
.contract-p{
    color:gray;
    text-decoration: none;
}
.btn-discover{
    background-color:  rgb(233, 116, 81);
}


/* contracting  */




.row-bg{
    background-color:  rgb(233, 116, 81);
    /* display: block; */
    border-radius: 30px 0 0 30px;

}

*{
    font-family: Merriweather !important;
}


.image{
    border-bottom: 2px solid black;
    /* width: 500px;     */
}
.fulldarkYellow{
    background-color: #f17c59;
}
.darkYellow{
    background-color: #ff8a68;
}


.lightYellow{
    background-color: #ff9d7a;
    

}
.barscolor{
    background-color:rgb(233, 116, 81) ;
}
.btnAbout{
    background-color: rgb(233, 116, 81);
    color: rgb(178,178,178);
    

}
.payrollcolor{
    color:rgb(233, 116, 81);
}