<!-- header -->
<header id="header" style="padding-top: 104px;">
  <div class="container h-100 d-flex align-items-center carousel-inner">
    <div class="text-center carousel-item active">
      <h5 class="text-capitalize text-white">Explore We Offer </h5>
      <h1 class="text-uppercase py-2 fw-bold text-white">Services </h1>
    </div>
  </div>
</header>
<!-- end of header -->

<!-- <br><br><br> -->
<!-- <h4>Timeline Style : Demo-5</h4> -->
<!-- <div class="container"> 
  
  <div class="row">
      <div class="col-md-12">
          <div class="main-timeline5">
              <div class="timeline">
                  <div class="timeline-icon"><span class="year">2018</span></div>
                  <div class="timeline-content">
                      <h3 class="title">Web Desginer</h3>
                      <p class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi ultrices, luctus nunc ut, commodo enim. Vivamus sem erat.
                      </p>
                  </div>
              </div>
              <div class="timeline">
                  <div class="timeline-icon"><span class="year">2017</span></div>
                  <div class="timeline-content">
                      <h3 class="title">Web Developer</h3>
                      <p class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi ultrices, luctus nunc ut, commodo enim. Vivamus sem erat.
                      </p>
                  </div>
              </div>
              <div class="timeline">
                  <div class="timeline-icon"><span class="year">2016</span></div>
                  <div class="timeline-content">
                      <h3 class="title">Web Desginer</h3>
                      <p class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi ultrices, luctus nunc ut, commodo enim. Vivamus sem erat.
                      </p>
                  </div>
              </div>
              <div class="timeline">
                  <div class="timeline-icon"><span class="year">2015</span></div>
                  <div class="timeline-content">
                      <h3 class="title">Web Developer</h3>
                      <p class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi ultrices, luctus nunc ut, commodo enim. Vivamus sem erat.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
 </div> -->
<!-- <hr> -->

<!-- service start  -->
<div class="container-fluid service">
  <div class=" container   "> 
    <div class="row">
      <div class="col-md-6 mt-5 py-5">
        <h2 class="text-white">OUR SERVICE </h2>
        <h3 class="display-4 fw-bold service-h3">Peace of mind for Contractors</h3>
      </div>
      <div class="col-md-6 mt-5 py-5">
        <p class="text-white  ">Contracting is a challenging and exciting new career path, but it can also be daunting. It has the potential to open up new prospects and revenue sources for you while also assisting you in expanding your industry knowledge and abilities. Our services are designed to ensure that you get the most out of your money by providing the best solutions, whether you are just starting out or an experienced contractor.</p>
      </div>
    </div>
    <div class="row">
      <div class="row text-center  ">
        <div class="we-offer-area text-center ">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="site-heading text-center">
                          <h2 class="text-white">What we Offer</h2>
                      </div>
                  </div>
              </div>
                  <div class="row our-offer-items less-carousel">
                      <!-- Single Item -->
                      <div class="col-md-4 col-sm-6 equal-height">
                          <div class="item">
                            <img class="img-fluid w-50 h-50" src="../../../../assets/umbrella-icon.png" alt="">
                              <h4>PAYE UMBRELLA</h4>
                              <p>
                                All contractors should utilize an umbrella company, such as Sweet Umbrella, because it is a more convenient way of working as well as guarantees that you are protected by professional indemnity, public liability, and employer's liability insurance. 
                              </p>
                          </div>
                      </div>
                      <!-- End Single Item -->
    
                      <!-- Single Item -->
                      <div class="col-md-4 col-sm-6 equal-height">
                          <div class="item">
                            <img class="img-fluid w-50 h-50" src="../../../../assets/Handshake.png" alt="">
                              <h4>LTD COMPANIES</h4>
                              <p>
                                Making sure that you pay your employees on schedule and in a timely basis will enable you to expand as an agency. We collaborate with you and your contractors to ensure that everyone is paid timely and in accordance with the law. 
                              </p>
                          </div>
                      </div>
                      <!-- End Single Item -->
    
                      <!-- Single Item -->
                      <div class="col-md-4 col-sm-6 equal-height">
                          <div class="item">
                            <img class="img-fluid w-50 h-50" src="../../../../assets/Ltd-icon.png" alt="">
                              <h4>AGENCIES</h4>
                              <p>
                                You may be looking for ways to enhance your work-life balance if you run a small business. You can rely on Sweet Umbrella instead of devoting your free time to payroll and documentation. We are here to help your company's payroll run as smoothly as possible.
                              </p>
                          </div>
                      </div>
                      <!-- End Single Item -->
    
                      <!-- Single Item -->
                      <!-- <div class="col-md-4 col-sm-6 equal-height">
                          <div class="item">
                              <i class="fas fa-tachometer-alt"></i>
                              <h4>Porject Impliment</h4>
                              <p>
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                              </p>
                          </div>
                      </div> -->
                      <!-- End Single Item -->
    
                      <!-- Single Item -->
                      <!-- <div class="col-md-4 col-sm-6 equal-height">
                          <div class="item">
                              <i class="fas fa-recycle"></i>
                              <h4>Software Update</h4>
                              <p>
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                              </p>
                          </div>
                      </div> -->
                      <!-- End Single Item -->
    
                      <!-- Single Item -->
                      <!-- <div class="col-md-4 col-sm-6 equal-height">
                          <div class="item">
                              <i class="fas fa-headset"></i>
                              <h4>24/7 Support</h4>
                              <p>
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                              </p>
                          </div>
                      </div> -->
                      <!-- End Single Item -->
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- service end -->
<!-- benefits of service   -->
<div class="container mt-5 my-5">
  <div class="row ">
      <div class="mt-5 col-md-12">

      <h5 class="benefits-h6 ">SERVICE</h5>
      <h3 class="display-6 fw-bold py-3 ">The Benefits Of Contracting </h3>
      <p class="lh-lg">Contracting offers benefits in nearly every economic sector, including increased opportunities for skill development, greater flexibility, and financial incentives. As your contracting career progresses, you will discover that a broader range of contract work becomes available to you, and you will gain valuable skills and experience working with a diverse range of customers. Contracting becomes your own commercial enterprise in this manner.</p>
      <p class="lh-lg">
        Contracting is a good option for freelancers because it differs from permanent employment in that you have the ability to choose how you will be compensated. It is critical to structure your businesses in such a way that you remain compliant with HM Revenue & Customs (HMRC) tax requirements while also increasing your take-home pay to the greatest extent possible.
      </p>
      </div>
  </div>
  <div class="row mt-1">
      <div class="col-md-4 d-flex justify-content-around" >
        
        <p class=" mt-5">  <i class="display-4 icon-color bi bi-person"></i>  Work on your terms </p>
      </div>
      <div class="col-md-4 d-flex justify-content-around" >
        
        <p class=" mt-5">  <i class=" display-4 icon-color bi bi-credit-card"></i>  Earn what you deserve </p>
      </div>
    
      <div class="col-md-4 d-flex justify-content-around" >
        
        <p class="  mt-5"> <i class="display-4 icon-color bi bi-lightbulb"></i>  Free to make descions </p>
      </div>    
  </div>
</div>

<!-- benefits of service   -->


<!-- tax calculator  -->
<!-- <section class="ligth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6 class="">SALARY CALCULATOR</h6>
        <h3 class="display-6 fw-bold lh-lg">Calculate your take home amount on PAYE</h3>
        <p class="lh-lg">Our salary calculator allows you to check your post-tax earnings, compare the potential earnings of different Salaries.</p>
        <ul>
          <li ><i class="bi bi-check-circle"></i><span class="ms-3">Stay in controll</span></li>
          <li class="mt-3"><i class="bi bi-check-circle"></i><span class="ms-3">Know your numbers</span></li>
          <li class="mt-3"><i class="bi bi-check-circle"></i><span class="ms-3">understand how changes effect you</span></li>

        </ul>
      </div>
      <div class="col-md-6 p-4 bg-white">
        <h3 class="py-3 fw-bold">Income Tax Calculator</h3>
        <h5 class="mt-3  fw-bold lh-lg" >Enter your salary and find out how much income tax and National Insurance you'll pay in the chosen tax year.</h5>
        <div class="mb-3 mt-4 py-4">
            <label for="" class="form-label">Tax Year</label>
            <select class="form-select form-select-lg" name="" id="">
                <option selected>2022-2023</option>
                <option value="">2023-2024</option>
            </select>
        </div>
        <form [formGroup]="FormTax" (ngSubmit)="calculate()" >
        <div class="mb-3">
          <label for="" class="form-label">Enter Your Salary</label>
          <input #field type="text" class="rounded-pill form-control" formControlName="calculateTax" name="" id="" aria-describedby="emailHelpId" placeholder="">
        </div>
        <div class="p-2">
        <button type="submit" class="mt-5 px-4 py-3 rounded-pill btn btn-primary">Calculate  </button>
        </div>
        <h2 #result class="mt-5" style="display: block;">Your Results </h2>
        <h4 class="fw-bold display-6 lh-lg ">Pay Details</h4>
      </form>
    </div>
    </div>
  </div>
</section> -->
<!-- tax calculator  -->


<!-- benefits of service   -->


<!-- 
<div class="container-md conatiner-sm conatiner-lg  mt-5 py-5">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 my-5 py-5 text-center">
      <h1 class="">Some of Our Clients</h1>
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png"class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2 ">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>
    <div class="clients col-md-2 col-sm-2 col-lg-2">
      <img src="../../../../assets/logo.png" class="img-fluid py-4" alt="">
    </div>

  </div>
</div> -->



<!-- benefits of service   -->


<!-- form   -->
<!-- <div class="container">
  <section class="m-5">
      <div class="row">
          <div class="formCol-1 section-border col-md-6">
              <h5 class="mx-3 text-white mt-4">Conatact Us</h5>
              <p class="mt-3 mx-3 text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam libero, sint dolores cupiditate in sapiente minima. Adipisci rerum sapiente magni.</p>
   <div class="d-flex justify-content-center">
      <button class="btn  bg-light btn-text rounded-pill"> <i class="bi bi-telephone-fill"></i>   0300 328423</button>
      <button class="btn  mx-2 bg-light btn-text rounded-pill"><i class="bi bi-calendar3"></i>    Register here </button>
   </div>
           <p class="mt-5 py-5 text-center text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore</p>
          </div>

<div class=" formCol-2 col-md-6">
  <div class="row">
      <div class="col-md-6 py-3">
          <div class="mb-3">
              <label for="" class="form-label">First Name </label>
              <input type="email" class="form-control rounded-pill "  name="" id="" aria-describedby="emailHelpId" placeholder="First Name">
            </div>
      </div>
      <div class="col-md-6 py-3">
          <div class="mb-3">
              <label for="" class="form-label">Last Name </label>
              <input type="email" class="form-control rounded-pill " name="" id="" aria-describedby="emailHelpId" placeholder="Last Name ">
            </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 mt-2">
          <div class="mb-3">
              <label for="" class="form-label">Email*</label>
              <input type="email" class="form-control rounded" name="" id="" aria-describedby="emailHelpId" placeholder="Email Address">
            </div>
      </div>
  </div>
  <div class="row">
      <div class="mt-2 col-md-12">
          <div class="mb-3">
              <label for="" class="form-label">Subject*</label>
              <input type="email" class="form-control rounded " name="" id="" aria-describedby="emailHelpId" placeholder="Subject">
            </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
    <div class="mb-3">
      <label for="" class="form-label">Message*</label>
      <textarea class="form-control rounded" name="" id="" rows="3"></textarea>
    </div>
      </div>
  </div>

  <button class="btn  my-3 btn-2 text-white">Submit Form </button>
  


</div>


      </div>
  </section>
 </div> -->
<!-- form   -->
