<!-- header -->
<header id="header" style="padding-top: 104px;">
    <div class="container h-100 d-flex align-items-center carousel-inner">
      <div class="text-center carousel-item active">
        <h5 class="text-capitalize text-white">Explore We Offer </h5>
        <h1 class="text-uppercase py-2 fw-bold text-white">AGENCIES </h1>
      </div>
    </div>
  </header>
  <!-- end of header -->
  
  <section>
    <div class="container ">
        <div class="row mt-5 py-5">
            <div class="col-md-6">
                <h4>Our Approach</h4>
                <h2 class="approach-h2 fw-bold">About our company </h2>
                <p class="mt-4">It's a strategy that combines the finest of financial planning and investment management.</p>
                <p class="mt-4">Our service provides contractors with peace of mind in knowing that they will be paid on time and that they can contact a pleasant team for help with payroll problems. </p>
                <p class="mt-4">
                    We provide a transparent, compliant, and dependable umbrella service, allowing everyone involved to focus on what they do best. We ensure that your contractors are paid correctly, on time, and every time so that they can focus on their work. Our onboarding procedure is simple enough that your contractors can be registered with us in a matter of hours and begin working right away.
                </p>
            </div>
            <div class="col-md-6">
                <h1><i class="bi bi-quote"></i></h1>
                <p class="my-4">I can see a bright future ahead of me thanks to Sweet's payroll services! It is simple to contact someone who can offer you advice. Most significantly, all of my employees are content.</p>
        <img class="img-fluid" src="../../../../assets/agency1.jpg" alt="">
            
            </div>
            
        </div>

    </div>
  </section>




<!-- payroll with peace  -->
<section>
    <div class="container">
        <div class="row mt-5 ">
            <div class="col-md-12 text-center">
                <h2 class="display-6 fw-bold approach-h2 ">Pay roll with peace of mind </h2>
                <span>Sweet Umbrella offers payroll services to contractors and freelancers to give them peace of mind and to assure them that we are working hard to ensure that their earnings are received without issue..</span>
                <p class="mt-4">Making sure your staff are paid on time and correctly is critical to your agency's success. We collaborate with you and your contractors to ensure that everyone is paid on time and all requirements are fulfilled.</p>
            </div>
        </div>
        <!-- <div class="row mt-5 py-5">
            <div class="col-md-4">
                <h1 class="approach-h2"><i class="bi bi-info-circle"></i><span class="ms-5">Complaint </span></h1>
                <p class="ms-5 mt-4">We make every effort to stay current on new government legislation and keep you informed.
                </p>
            </div>
            <div class="col-md-4">
                <h1 class="approach-h2"><i class="bi bi-stopwatch"></i><span class="ms-5">On Time  </span></h1>
                <p class="ms-5 mt-4">We keep your firm running and your employees pleased by making regular payment runs.</p>
            </div>
            <div class="col-md-4">
                <h1 class="approach-h2"><i class="bi bi-hand-thumbs-up"></i><span class="ms-5">PartnerShip </span></h1>
                <p class="ms-5 mt-4">We will collaborate closely with you to ensure that the service we provide meets your needs.</p>
            </div>
        </div> -->
    </div>
</section>
<!-- payroll with peace  -->


<!-- img sochae ga  -->
<!-- img sochae ga  -->


  <!-- choices -->
  <!-- <section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center ">
                <h2 class="display-6 fw-bold choices-h2 ">The right choice for you </h2>
              <p class="mt-4">Here are some of the industries in which we may assist working professionals. We are not, however, confined to these industries. Please contact us to see how we can assist you.</p>
            </div>
        </div> 
        <div class="row mt-5">
            <div class="col-md-4">
                <h1 ><i class= "approach-h2 bi bi-cone-striped"></i><span class="ms-4">Construction</span></h1>
            </div>
            <div class="col-md-4">
                <h1 ><i class= "approach-h2 bi bi-heart-pulse"></i><span class="ms-4">Construction</span></h1>
            </div>
            <div class="col-md-4">
                <h1 ><i class="approach-h2 bi bi-gear"></i><span class="ms-4">Construction</span></h1>
            </div>  
        </div>
        <div class="row mt-5 py-5">
            <div class="col-md-4">
                <h1 ><i class="bi bi-truck-front approach-h2"></i><span class="ms-4">Transport  </span></h1>
            </div>
            <div class="col-md-4">
                <h1 ><i class= "approach-h2 bi bi-heart-pulse"></i><span class="ms-4">Project</span></h1>
            </div>
            <div class="col-md-4">
                <h1 ><i class="approach-h2 bi bi-envelope-paper"></i><span class="ms-4">Finance legal</span></h1>
            </div>  
        </div>
        
        
    </div>
</section> -->
  <!-- choices --> 

  <!-- form   -->
<!-- <div class="container">
    <section class="m-5">
        <div class="row">
            <div class="formCol-1 section-border col-md-6">
                <h5 class="mx-3 text-white mt-4">Conatact Us</h5>
                <p class="mt-3 mx-3 text-white">Call to connect with a specialist or register for a callback to begin your road toward hassle-free payroll.</p>
     <div class="d-flex justify-content-center">
        <button class="btn  bg-light btn-text rounded-pill"> <i class="bi bi-telephone-fill"></i>   0300 328423</button>
        <button class="btn  mx-2 bg-light btn-text rounded-pill"><i class="bi bi-calendar3"></i>    Register here </button>
     </div>
             <p class="mt-5 py-5 text-center text-white">If you have any further questions, please fill out our contact form.</p>
            </div>

<div class=" formCol-2 col-md-6">
    <div class="row">
        <div class="col-md-6 py-3">
            <div class="mb-3">
                <label for="" class="form-label">First Name </label>
                <input type="email" class="form-control rounded-pill "  name="" id="" aria-describedby="emailHelpId" placeholder="First Name">
              </div>
        </div>
        <div class="col-md-6 py-3">
            <div class="mb-3">
                <label for="" class="form-label">Last Name </label>
                <input type="email" class="form-control rounded-pill " name="" id="" aria-describedby="emailHelpId" placeholder="Last Name ">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="mb-3">
                <label for="" class="form-label">Email*</label>
                <input type="email" class="form-control rounded" name="" id="" aria-describedby="emailHelpId" placeholder="Email Address">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-2 col-md-12">
            <div class="mb-3">
                <label for="" class="form-label">Subject*</label>
                <input type="email" class="form-control rounded " name="" id="" aria-describedby="emailHelpId" placeholder="Subject">
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
      <div class="mb-3">
        <label for="" class="form-label">Message*</label>
        <textarea class="form-control rounded" name="" id="" rows="3"></textarea>
      </div>
        </div>
    </div>
 
    <button class="btn  my-3 btn-2 text-white">Submit Form </button>


</div>


        </div>
    </section>
   </div> -->
<!-- form   -->