 
<div class="div"   >
    <footer class="section bg-footer " >
        <div class="container">
            <div class="row justify-content-center align-items-center pt-5 mt-5">
                <div class="col-lg-3">
                    <div class="">
                        <h6 class="footer-heading text-uppercase text-white">Quick Links </h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li><a routerLink="home" >Home</a></li>
                            <li><a routerLink="service">Services</a></li>
                            <li><a routerLink="start" >Strat Contracting </a></li>
                            
                        </ul>
                    </div>
                </div>
    
                <div class="col-lg-3">
                    <div class="">
                        <h6 class="footer-heading text-uppercase text-white">Legal Papers</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            <li><a routerLink="terms">Terms and Conditions  </a></li>
                            <li><a  routerLink="slavery">Modern Slavery</a></li>
                                <li><a routerLink="privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
    
                <div class="col-lg-3 mt-3">
                    <div class="mt-3">
                        <h6 class="footer-heading text-uppercase text-white">Contact</h6>
                        <ul class="list-unstyled footer-link mt-4">
                            
                            <li><a > 4th Floor, Silverstream House
                                45 Fitzroy Street, Fitzrovia
                                London
                                W1T 6EB</a></li>
                            <li><a >number</a></li>
                            <li><a >hello@sweetumbrella.co.uk
                            </a></li>
                        </ul>
                    </div>
                </div>
   
    
            </div>
            <div class="row  " >
                <div class="col-md-12 ">
                    <h4 class="text-center mt-3 text-white">Copyright©2022 All Rights Reserved by SweetUmbrella </h4>
                </div>
            </div>
        </div>
    
     
    </footer>
</div> 
