    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container">
         <div>
            <a class="navbar-brand" routerLink="home"><img class="img-setting" src="../../../../assets/logo.png" width="220" height="70" alt=""></a>
         </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav  mx-auto">
              <li class="nav-item">
                <a class="nav-link active mx-2" aria-current="page" routerLink="home" >Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link  active" routerLink="service"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                
              </li>
              <li>
                <div class="dropdown mt-1">
                  <a class="text-dark fs-4 dorop-down dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    
                  </a>
                
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item mx-2" routerLink="agency" >Agency</a></li>
                    <li><a class="dropdown-item mx-2" routerLink="paye">Paye Umbrella</a></li>
                    
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link active mx-2"routerLink="about" >About Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active mx-2" routerLink="contact">Contact Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active mx-2"routerLink="start" >Start Contracting  </a>
              </li>
              <li class="mt-1 nav-item">
               <a class="btn-num  rounded-pill text-white my-5 px-5 py-3"><span class="number"> +92312467876</span> </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<!-- end of navbar -->